h1{text-align: center;
}

nav {

  font-size: 30px;

}

nav li {

display: inline;
margin: 0 0 0 17%;

}



body {
    font-size: 20px;
    
    color: #C0C0C0;

background-color: #008B8B;}



.leo{
    width: 30%;
    
    margin-left: 34%;
}

